<div class="hero-grid">
<div class="hero-col-1">
    <h2>{{ section.settings.hero_heading_text }}</h2>
    <p>{{ section.settings.hero_heading_para }}</p>
    <div class="hero-star-rating">
        <span>⭐⭐⭐⭐⭐⭐⭐⭐</span>
        <span>4.9/5 (2847 Reviews)</span>
        <span>
            <i>🚚</i>
            <span>Free Shipping</span>
        </span>
    </div>
</div>
<div class="hero-col-2">
    <div>
        <img src="{{section.settings.hero_background_image | image_url}}" alt="smilebright" width="100%" height="auto">
    </div>
</div>

</div>
{% stylesheet %}
    .hero-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-col-1{
        display: flex;
        flex-direction: column;
    }
{% endstylesheet %}
{% comment %} commented as dont not block for now "blocks": [{ "type": "@theme" }], {% endcomment %}
{% schema %}
    {
  "name": "Hero Section",
  
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_background_image",
      "label": "t:labels.background"
    },
    {
      "type": "text",
      "id": "hero_heading_text",
      "label": "t:labels.heading"
    },
     {
      "type": "text",
      "id": "hero_heading_para",
      "label": "t:labels.text"
    }
  ],
  "presets": [
  {
    "name": "Hero Section",
    "settings": {
      "hero_heading_text": "Professional Level Teeth Cleaning",
      "hero_heading_para": "Dentist-grade results at home"
    }
  }
]

}
{% endschema %}