<div>
    comprison liquid
</div>

{% stylesheet %}
    
{% endstylesheet %}
{% schema %}
    {
        "name": "Comprison Section",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:labels.heading"
            },
            {
                "type": "text",
                "id": "heading_para",
                "label": "t:labels.heading_para"
            }
        ]
    }
{% endschema %}